* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue-500: #042C43;
    --blue-400: #1D4156;
    --blue-300: #365669;
    --blue-200: #4F6B7B;
    --blue-100: #68808E;
    --gold: #E4B04B;
    --dark-grey: #333333;
    --grey: #696969;
    --light-grey: #cccccc;
    
}
body {
    font-family: "Lato", sans-serif;
}
h1 {
    font-family: 'Lora', serif;
}